#box {
    -fx-background-color: rgb(19, 20, 38);
}

.label, .button {
    -fx-min-width: 200;
    -fx-min-height: 50;
    -fx-text-fill: #fff;
}

/*Modification des labels*/
.label {
    -fx-font-size: 40pt;
    -fx-font-weight: bold;
    -fx-font-family: "Avenir Next";
}

/*Modification des boutons*/
.button {
    -fx-font-family: "Avenir";
    -fx-border-radius: 30;
    -fx-font-size: 15pt;
    -fx-background-radius: 30;
    -fx-background-color: rgb(155, 132, 145);
}

/*Modification bouton lorsque survolé*/
.button:hover {
    -fx-background-color: rgb(107, 127, 142);
}


#info, #timer {
    -fx-font-size: 25pt;
    -fx-min-width: 175;
    -fx-min-height: 50;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-font-family: "Avenir Next";
    -fx-background-color: rgb(155, 132, 145);
}
